html, body {
  margin: 0;
  padding: 0;
  background-color: #1E1E1E;
  color: #F5F5F5;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #3F3737;
  box-shadow: 0 0 15px rgba(124, 77, 255, 0.8);
}

.navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #9B59B6;
  padding: 10px 20px;
  border-bottom: 6px solid black;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.socials {
  display: flex;
  gap: 10px;
}

.socials img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.socials img:hover {
  transform: scale(1.1);
}

.heading {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-bottom: 4px solid black;
  gap: 20px;
}

.heading .Information {
  flex: 1 1 300px;
}

.heading .Information p {
  margin-bottom: 15px;
}

.personalImage {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
}

.personalImage img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.main {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-bottom: 4px solid white;
}

.main section h2 {
  border-bottom: 5px solid plum;
  text-align: center;
  margin-bottom: 20px;
}

.details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.details div {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: all 0.4s ease;
  cursor: pointer;
}

.details div:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 8px 10px rgb(32, 31, 31);
}

.details p {
  max-height: 0;
  opacity: 0;
  transition: all 0.4s ease;
  overflow: hidden;
}

.details div:hover p {
  max-height: 200px;
  opacity: 1;
}

.footer {
  padding: 20px;
  border-top: 4px solid white;
  text-align: center;
}

.footer .sites {
  margin-bottom: 20px;
}


.footer .Interesting{
  display: flex;
  justify-content: space-around;
  gap: 15px;
  width: 100%;
}

.footer .Interesting a img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.footer .Interesting a img:hover {
  transform: scale(1.05);
}


@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
    align-items: center;
  }

  .heading {
    flex-direction: column;
    text-align: center;
  }

  .personalImage img {
    max-width: 90%;
  }
}
